In [1]:
import pandas as pd
from sklearn import *
from datetime import datetime

In [2]:
def preprocess(x):
    x = x.dropna()

    dates = [datetime.strptime(i, '%Y-%m-%d') for i in x['Date'].to_list()]

    x['year'] = [int(date.year) for date in dates]
    x['month'] = [int(date.month) for date in dates]
    # Day of month doesn't really seem to help, the day of the year is more helpful
    x['day'] = [int(date.timetuple().tm_yday) for date in dates]

    # x['type'] = [1 if row == 'organic' else 0 for row in x['type']]

    # One Hot
    x = pd.merge(x, pd.get_dummies(x['region'], prefix='region'), how='right', left_index=True, right_index=True)

    x = x.drop('Date', axis=1)
    # Somehow dropping type makes it more accurate
    x = x.drop('type', axis=1)
    x = x.drop('region', axis=1)

    return x

# Train Model

In [3]:
df = pd.read_csv('avocado-train.csv', index_col='id')
df.head()

    DataBatch        Date  ...              region  AveragePrice
id                         ...
0           7  2016-11-06  ...    NewOrleansMobile          1.49
1          24  2017-07-16  ...  HarrisburgScranton          1.38
2          51  2015-01-04  ...             Atlanta          1.76
3          22  2015-07-26  ...    BuffaloRochester          1.39
4          50  2015-01-11  ...          Pittsburgh          1.54

[5 rows x 13 columns]

In [4]:
df_processed = preprocess(df)

features = df_processed.columns.values.tolist()
features.remove('AveragePrice')
x = df_processed[features]
y = df_processed['AveragePrice']
x.head()

    DataBatch  TotalVolume  ...  region_West  region_WestTexNewMexico
id                          ...
0           7    183542.31  ...            0                        0
1          24    224434.92  ...            0                        0
2          51      3846.69  ...            0                        0
3          22     91825.07  ...            0                        0
4          50     54644.32  ...            0                        0

[5 rows x 66 columns]

In [5]:
x_train, x_val, y_train, y_val = model_selection.train_test_split(x, y, test_size=0.2)
print('Train split:', len(x_train))
print('Test split:', len(x_val))
print('Total:', len(x),len(y))

Train split: 10219
Test split: 2555
Total: 12774 12774

In [6]:
cpu_cores = !nproc
# model = ensemble.RandomForestRegressor(random_state=2021, n_estimators=500, n_jobs=int(cpu_cores[0]) + 1)
model = ensemble.ExtraTreesRegressor(random_state=2021, n_estimators=500, n_jobs=int(cpu_cores[0]) + 1)

In [7]:
# Use the full dataset when submitting to server
model.fit(x, y)
# model.fit(x_train, y_train)
# model.score(x_val, y_val)
load_avg = !cat /proc/loadavg | cut -f1 -d' '
print('Load Average:', load_avg[0])

Load Average: 1.53

# Prediction

In [8]:
df_test = pd.read_csv('avocado-test.csv', index_col='id')
df_test.head()

    DataBatch        Date  ...          type              region
id                         ...
0          21  2016-07-31  ...       organic             Chicago
1          19  2017-08-20  ...  conventional  NorthernNewEngland
2          49  2017-01-22  ...       organic          GreatLakes
3          12  2015-10-04  ...       organic    CincinnatiDayton
4          10  2015-10-18  ...       organic             Houston

[5 rows x 12 columns]

In [9]:
df_test_processed = preprocess(df_test)
x_test = df_test_processed[features]
x_test = x_test.dropna()
print('Rows:', len(x_test))
x_test.head()

Rows: 5475

    DataBatch  TotalVolume  ...  region_West  region_WestTexNewMexico
id                          ...
0          21     28969.34  ...            0                        0
1          19    322962.89  ...            0                        0
2          49    155334.45  ...            0                        0
3          12     10231.74  ...            0                        0
4          10     10652.02  ...            0                        0

[5 rows x 66 columns]

In [10]:
y_test = model.predict(x_test)
output = pd.DataFrame({'id': x_test.index, 'AveragePrice': y_test})
output.to_csv('avocado-submission.csv', index=False)

# Submission

In [11]:
import pyctfsglib as ctfsg
import random

with open('token') as f:
    USER_TOKEN = f.read()
GRADER_URL = random.choice([
    'http://3qo9k5hk5cprtqvnlkvotlnj9d14b7mt.ctf.sg:60010/',
    'http://3qo9k5hk5cprtqvnlkvotlnj9d14b7mt.ctf.sg:60011/'
])

grader = ctfsg.DSGraderClient(GRADER_URL, USER_TOKEN)

DSGraderClient: Successfully Connected!
[SERVER] MOTD: CHECK your USER_TOKEN and GRADER_URL HTTP address! I'm AVOCADO_PRICE @bc6e1a3c2caa

In [12]:
grader.submitFile('avocado-submission.csv')

ProofOfWork Challenge =>  ('CTFSGRBa1c5118c6330e6a248c19e0161db777e', 22)
ProofOfWork Answer Found! =>  1590430

'{"challenge":{"name":"AvocadoRegression"},"id":"cknbih018c5n00824w49nb1ca","status":"PARTIALLY_CORRECT","multiplier":0.9423,"submittedBy":{"username":"hci-19"},"createdAt":"2021-04-10T09:03:49Z"}'